/*I pledge my honor that I have abided by the Stevens Honor System.
Natalie Filip, Jake Hull, Nick Percivale, Ronald Kim, & Leo Schaffner */


body {
    margin: 0;
}
h1 {
    font-family: "Helvetica";
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    font-family: "Helvetica";
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    font-family: "Helvetica";
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.navbar {
    overflow: hidden;
    background-color: #A32638;
    font-family: "Helvetica";
}
  
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background-color: rgb(201, 201, 201);
    color: black;
}
  
.navbar a.active {
      background-color: #4CAF50;
      color: white;
}

footer {
    background-color: #A32638;
    font-family: "Helvetica";
    color: #f2f2f2;
}

 .logo{
    font-family: "Helvetica";
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    }

/* rules for desktop */
@media only screen and (min-width: 800px)
{ 
    .stevens-logo{
        height:250px;
        width: 500px;
    }

    p {
        align-items: stretch;
    }

    .navbar a{
        align-items: center;
        flex-wrap: wrap;
        float: left;
        flex-direction: row;
    }


    table {
        align-self: stretch;
    }

}



/* rules for tablets */
@media only screen and (max-width: 800px)
{ 
    .stevens-logo{
        height:125px;
        width: 250px;
        align-items: center;
        font-size: 1em;
    }

    h1, h2 {
        font-size: 0.9em;
    }

    p {
        align-items: stretch;
    }

    .navbar a{
        align-items: center;
        flex-wrap: wrap;
        font-size: 0.9em;
        float: left;
        flex-direction: row;
    }

    table {
        align-self: stretch;
    }

}

/* rules for phones */
@media only screen and (max-width:400px) {


    .stevens-logo{
        height:63px;
        width: 125px;
    }

    h1, h2 {
        font-size: 0.8em;
    }

    p {
        align-items: stretch;
    }

    .navbar a{
        align-items: center;
        flex-wrap: wrap;
        font-size: 0.8em;
        float: left;
        flex-direction: row;
    }

    table {
        align-self: stretch;
    }

}



